@use '../../styles/global';
.main-container{
  max-height: 100vh;
  overflow-y: scroll;
}

.header-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.span-name-header {
  -webkit-background-clip: text;
  color: global.$text-color;
}

.logo-header {
  height: 4rem;
}

.auth-wrapper {
  font-size: 140%;
  display: flex;
  gap: 2vh;
  align-items: center;
  opacity: 1;
}

.main-slogan {
  color: global.$text-secondary-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 5rem;
}

.main-slogan div {
  width: 50%;
}

.main-slogan-text{
  padding: 5rem 0 1rem 0;
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(global.$brand-gradient);
}

.background-present {
  background: linear-gradient(210deg, rgba(114, 138, 213, 0.62) 0%, rgba(183, 110, 183, 0.47) 100%);
  border-radius: global.$default-br;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chats-image{
  position: relative;
  width: 87%;
  top: 16%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.22);
  border-radius: global.$default-br;
}

.chats-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: global.$default-br;
}

.feature-wrapper{
  padding: 15rem 0 3rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  padding-bottom: 3rem;
  span{
    font-weight: bold;
    font-size: 1.8rem;
    color: global.$text-color;
    text-align: center;
  }
  h2{
    white-space: normal;
    text-align: center;
    font-weight: normal;
  }
}
.login-link{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(global.$brand-gradient);
}

.registration-link{
  color: white;
  padding: .3rem .8rem;
  background: black;
  border-radius: global.$default-br;
}

.FAQ-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FAQ-wrapper{
  display: flex;
  flex-direction: column;
  h1{
    color: global.$text-color;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  h2{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: global.$text-secondary-color;
  }
  ul{
    margin-left: 1.75rem;
    font-size: 1.7rem;
    list-style: decimal;
    li{
      margin-bottom: 1rem;
      list-style: decimal;
    }
  }
}

.FAQ-image{
  position: relative;
  width: 40%;
}

.footer{
  height: 5rem;
  background: global.$bg-dark-color;
  display: flex;
  padding: 0  10rem;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(global.$brand-gradient);
  }
  h2{
    display: flex;
    font-size: 1.25rem;
    text-align: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(global.$brand-gradient);
  }
}

@media (max-width: 1024px) {
  .FAQ-container {
    flex-wrap: wrap;
  }
  .FAQ-image {
    width: 100%;
  }
}
