@use "../../styles/global";

.container{
  display: flex;
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  background: linear-gradient(160deg, global.$brand-color 0%, global.$light-brand-color 100%) 70% 100%;
  background-size: 500%;
}

.container-item{
  margin: auto;
  padding: 2rem;
  width: 32rem;
  border-radius: global.$default-br;
  background: global.$secondary-color;
}

.form-header{
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  margin-top: 1rem;
}

.email-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.email-container .ErrorMessages{
  color: red;
  font-size: 1rem;
}

.form-field{
  background: white;
  border-radius: global.$default-br;
  border: .1rem solid #9f9f9f;
  width: 34rem;
  height: 3rem;
  padding-left: 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
}

.password-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-top: .8rem;}

.password-container .ErrorMessages{
  color: red;
  font-size: 1rem;
}

.submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1.6rem;
  height: 2.8rem;
  border-radius: 1rem;
  background: global.$button-color;
  padding: 0 1rem;
  color: white;
}

.container-temp{
  display: flex;
}