@use "../../../styles/global";

.popup-content {
  position: absolute;
  left: 0;
  bottom: 120%;
  background-color: global.$bg-color;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  border-radius: global.$min-br;
  z-index: 10;
  direction: rtl;
  opacity: 1;
  color: black;
}