@use "../../../styles/global";

.skeleton-wrapper {
  width: 100%;
  height: 100%;
  border-radius: global.$max-br;
  animation: skeleton-animation 3s ease-in-out infinite;
}

@keyframes skeleton-animation {
  0% {
    background-color: global.$skeleton-light-color;
  }
  50% {
    background-color: global.$skeleton-color;
  }
  100% {
    background-color: global.$skeleton-light-color;
  }
}