$bg-color: #FFFFFF;
$brand-color: #557BF3;
$secondary-color: #F6F8FD;
$tinted-color: #EAEFFD;
$light-brand-color: #F6F8FD;

$text-color: #28355B;
$text-secondary-color: #7C85A3;
$text-on-brand-color: #EDF0FE;

$max-br: 50px;
$default-br: 25px;
$med-br: 17px;
$min-br: 9px;

$default-inset: 10px;
