@use '../styles/global';


.header-main-page {
  display: flex;
  padding: 1vh 10vh;
  font-size: 5vh;
}

.span-name-header {
  -webkit-background-clip: text;
  color: global.$text-color;
}

.logo-header {
  height: 5vh;
  padding-right: 2.5vh;
  margin-top: 0.4rem;
}

.auth-wrapper {
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 2vh;
  align-items: center;
}

.main-slogan {
  display: flex;
  flex-wrap: wrap;
  width: 45vh;
  margin: 5vh auto;
  text-align: center;
}

.main-slogan-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vh;
  margin: 5vh auto;
  text-align: center;
  font-size: xx-large;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(global.$brand-gradient);
}

.background-present {
  background: linear-gradient(1deg, global.$brand-color 0%, global.$light-brand-color 100%);
  border-radius: global.$default-br;
  margin: 0 10vw;
  height: 40vw;
}