@use "../../styles/global";

.container{
  display: flex;
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  background: linear-gradient(160deg, global.$brand-color 0%, global.$light-brand-color 100%) 70% 100%;
  background-size: 500%;
}

.container-item{
  margin: auto;
  padding: 2vw 2vw;
  width: 30vw;
  border-radius: 2vw;
  background: global.$secondary-color;
}

.form-header{
  font-size: 4vw;
  font-weight: 700;
  font-style: normal;
  margin-top: 1vw;
}

.email-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2vw;
  margin-top: .8vw;
}
.email-container .ErrorMessages{
  color: red;
  font-size: 1vw;
}

.error-messages{
  margin-top: 1.5vw;
  margin-left: 0.5vw;
  color: red;
  font-size: 1.2vw;
  text-wrap: normal;
  font-weight: 500;
}

.form-field{
  background: white;
  border-radius: global.$default-br;
  border: .1vw solid #9f9f9f;
  width: 34vw;
  height: 2.5vw;
  padding-left: .6vw;
  margin-top: .5vw;
  font-size: 1vw;
}

.password-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2vw;
  margin-top: .8vw;}

.password-container .ErrorMessages{
  color: red;
  font-size: 1vw;
}

.submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  margin-top: 1.6vw;
  height: 2.8vw;
  border-radius: 1vw;
  background: global.$button-color;
  padding: 0 1vw;
  color: white;
}

.name-container{
  background: white;
  border: .1vw solid #9f9f9f;
  width: 34vw;
  height: 2.5vw;
  padding-left: .6vw;
  margin-top: .5vw;
  font-size: 1vw;
}

.container-temp{
  display: flex;
}